@import './variables/colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
}

* {
  line-height: 140%;
  font-family: 'Inter';
  letter-spacing: '0.1px';
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #696969;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #696969;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #696969;
}
