.main {
  padding: 30px 130px;
  display: flex;
  flex-flow: column;
  gap: '20px';

  &__header {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    justify-content: space-between;

    &__title {
      font-size: 36px;
      font-weight: 900;
      color: var(--grey-1000);
    }
  }

  &__description {
    color: var(--grey-500);
    font-weight: 500;
    font-size: 17px;
  }

  &__section {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 40px;

    &__header {
      display: flex;
      flex-flow: row;

      &__title {
        font-size: 20px;
        font-weight: 700;
        color: var(--grey-1000);
      }
    }
  }

  &__actions {
    display: flex;
    flex-flow: row;
    gap: 15px;
    margin-top: 30px;
    justify-content: right;
  }
}
