:root {
  --primary: #00a651;
  --primary-dark: #028e47;
  --primary-light: #06c161;

  --grey-1000: #151515;
  --grey-900: #1f1f1f;
  --grey-800: #2a2a2a;
  --grey-700: #3a3a3a;
  --grey-600: #4a4a4a;
  --grey-500: #5a5a5a;
  --grey-400: #6a6a6a;
  --grey-300: #7a7a7a;
  --grey-200: #8a8a8a;
  --grey-100: #9a9a9a;
}
